<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="device-width, initia-scale=1.0">
        <title>Dashboards</title>
        <link href="../static/css/styles.css" rel="stylesheet">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <main>
            <div class="topnav">
                <ul>
                    <h1 class="title">Dashboards With Python</h1>
                    <li><a href="/index" id="home" class="active">Home</a></li>
                    <li><a href="/tables" id="tables">Tables</a></li>
                    <li><a href="/graphics" id="graphics">Graphics</a></li>
                    <li><a href="/about" id="about">About</a></li>
                </ul>
            </div>
            <h3>Graphics content displayed</h3>
        </main>     
    </body>
</html>